html, body {
  margin: 1%;
  padding: 0;
	background-color: #eee;
	font-family: 'Roboto', 'Arial', sans-serif;
}

button {
	background-color: #dbdbdb;
	vertical-align: middle;
	outline: none;
	border: none;
  font-size: 1.4em;
  padding: 1em;
}
button:disabled {
	color: #eee;
}

button.action {
	margin-right: 10px;
}

button.playerHand {
	min-width: 24px;
	min-height: 40px;
	margin: 10px 10px 10px 0;
	/* padding: 4px; */
	text-align: center;
}

#modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
#modal_content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    height: 30vh;
    width: 40vw;
    display: grid;
    text-align: center;
    align-items: stretch;
}
#modal_text {
  margin: auto;
  font-size: 2em;
}

.master-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 10px;
  justify-content: space-between;
  align-items: stretch;
}

.grid {
  height: calc(100vw/4);
  min-height: 90px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  /* grid-template-rows: repeat(3, 1fr); */
  grid-column-gap: 10px;
  justify-content: space-between;
  align-items: stretch;
}
.col {
  background-color: white;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3,1fr);
  grid-template-areas:
    ". . ."
    ". e ."
    ". . .";
}
.card {
  grid-area: e;
  margin: auto;
  font-size: 3em;
}
